
.layout-introduction-wrap {
	background:  url('../assets/introduction-bg.png') no-repeat left top;
	height: 100vh;
	.back-wrap {
		position: absolute;
		bottom: 80px;
		left: 92px;
		.back {
			height: 60px;
			width: 60px;
			background: linear-gradient(45deg, #ECC98C, #D0A064);
		}
	}
}
