@import './md.css';

html,
body,
#app {
	margin: 0;
	padding: 0;
	font-size: 16px;
}


body {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#app {
	position: relative;
	width: 1920px;
}

html.dark {
	color: #e5e7eb;
	background: #121212;
}

.prose {
	scroll-behavior: smooth;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	@apply bg-blue-700 bg-opacity-75;

	background: repeating-linear-gradient(90deg, #00dc82 0, #34cdfe 50%, #0047e1);
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/*
* 全局滚动条
*/

::-webkit-scrollbar {
  width: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  background-color: #E0C3B1;
	border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #C9975C;
  box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #F1E1D0;

}
